---
import { supabase } from '../db/supabase';

const { data, error } = await supabase.from("project").select('*');
---

{
  (
    <ul>
  {data && data.map((entry) => (
    <li>{entry.name}</li>
  ))}
  
  {!data && <li class="text-red-500">Data gagal dimuat atau tabel tidak ditemukan!</li>}
</ul>
  )
}